[Unit]
Description=phone input and pure data patch

[Service]
ExecStart=/usr/bin/pd -nogui -rt /home/chip/spookyphone/patch/main.pd
Type=idle

[Install]
WantedBy=multi-user.target
